@*Developed by M.Chasse*@

@model Project.Models.Customer
@{
    ViewBag.Title = "Customer Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Streamsong!</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary();

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsSubscriber) I'm a paid subscriber (check box if true)
        </label>
    </div>

    /*if no id exists already, cust is new so give id of 0*/
    /*pass cust id as hidden field */
    @Html.Hidden("custId", @Model != null ? Model.Id : 0)

    <button type="submit" class="btn btn-default">Submit</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        console.log("hey");
    </script>
}
