@*Developed by M.Chasse*@

@model Project.Models.CustSongViewModel
@*@model List<Project.Models.Song>*@

@{
    ViewBag.Title = "Customer Library";
    Layout = "~/Views/Shared/_Layout.cshtml";

    /*get cookie data*/
    var cookieId = Request.Cookies["custID"];
    string custID = "";
    if (cookieId != null)
    {
        custID = cookieId.Value;
    }

    var cookieUsername = Request.Cookies["Username"];
    string Username = "";
    if (cookieUsername != null)
    {
        Username = cookieUsername.Value;
    }
}

<h2>@Username 's Streamsong Library</h2>
@*comment in for debug: *@
@*<p>Your user id is: @custID</p>*@

<h3>Saved Songs</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Remove Song</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var song in Model.Songs)
    {
        <tr>
            @*:todo implement links to go to song album and artist pages *@
            <td>@Html.ActionLink(song.Title, "CustomerLibrary", "Customers", new {id = song.Id}, null)</td>
            <td>@Html.ActionLink(song.Artist, "CustomerLibrary", "Customers", new { id = song.Id }, null)</td>
            <td>@Html.ActionLink("Delete", "DeleteSongFromCustLibrary", "Customers", new { id = song.Id, custID = custID }, null)</td>
            @*<td><a href="/Workshop/RegisterWorkshop/@song.Id/@custID">Register</a></td>*@
        </tr>
    }
    </tbody>
</table>

<h4>@Html.ActionLink("Click here for more songs to add", "SongLibrary", "Song")</h4>